/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
}
/* ------------------ */
/* ------------------ */
/* ------------------ */


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	box-shadow: inset 0 -1px 7px rgba(228, 91, 51, 0.75);
	background-color: #ff5c2d;
	background-image: linear-gradient(to top, #f44620 0%, #fc6236 70%, #fa592b 97%, #fa592b 100%);
}
.header__container {
	max-width: 940px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 79px;
}
.nav__container{
	max-width: 940px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-around;
	min-height: 66px;
}
.footer__container{
	max-width: 940px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;

	min-height: 60px;
}

.header__logo {
	position: relative;
	z-index: 5;
	width: 31px;
	height: 41px;
}
.header__text{
	position: relative;
	z-index: 5;
	color: #ffffff;
	font-family: "Chelsea Market";
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: left;
	/* Text style for "Bonfire" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.header__text2{
	position: relative;
	z-index: 5;
	color: #ffffff;

	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 28px;
	text-align: left;


}
.cart{
	width: 32px;
	height: 33px;
	box-shadow: 0 2px 3px rgba(223, 81, 40, 0.48), inset 0 1px 0 rgba(251, 96, 51, 0.69);
	border: 1px solid rgba(234, 71, 34, 0.52);
	background-color: #fa5b33;
	background-image: linear-gradient(to top, #e84621 0%, #fd5f37 86%, #fd5f37 100%);
}

.cart_img{
	width: 15px;
	height: 13px;
	margin-top: 7px;
	margin-left: 7px;
}

.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}
.menu__link {
	color: #fff;
	font-size: 14px;
}
.menu__link:hover {
	text-decoration: underline;
}


/* ----------------------- */

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}


body.mouse .nav__list>li:hover .sub__nav__list{
	display: block;
}
body.touch .sub__nav__list.open{
	display: block;
}
body.touch .arrow{
	display: block;
}

.nav a .parent{
	margin: 0px 0px 0px 0px;
}

.nav{
	padding-top: 79px;
	background-color: #f5ecce;
	opacity: 0.65;

}
.nav li{
	position: relative;
}
.nav__list{
	display: flex;
}
.nav__list>li{
	margin: 0px 30px 0px 0px;
}
/*.nav__list>li:hover .sub__nav__list {
	display: block;
}*/

.nav__link{
	color: #7d7253;
	font-family: Dosis;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	/* Text style for "Desktops" */
	font-style: normal;
	letter-spacing: 0.48px;
	line-height: normal;
}
.sub__nav__link:hover{
	background-color: #f54922;
	width: 153px;
	height: 20px;
	color: white;
}

.sub__nav__list{
	display: none;
	min-width: 170px;
	min-height: 186px;
	position: absolute;
	left: -22px;
	top: 10px;
	padding: 30px 0px 0px 0px;
}
.sub__nav__list>li{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	background-color: #fbf2d3;
}

.sub__nav__link{
	width: 153px;
	height: 20px;
	color: #777777;
	font-family: Dosis;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	text-align: left;
	margin-left: 22px;
}
.nav__arrow{

}
.arrow{
	display: none;
	position: absolute;
	right: -20px;
	top: 10px;
	width: 0;
	height: 0;
	border-top: 8px solid #777777;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;

}
.arrow.active{
	transform: rotate(-180deg);
}
.cart_window_text{
    width: 140px;
    height: 9px;
    color: #ffffff;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
	margin-left: 19px;
}
.cart_window{
	width: 173px;
	height: 45px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	background-color: #707070;
	opacity: 0.76;
	margin-left: -150px;
	display: none;
	position: absolute;
}
.cart:hover .cart_window {
	display: block;
}

.cart{
	position: relative;
}


.footer__text{
	width: 289px;
	height: 15px;
	color: #a7a49c;
	font-family: Dosis;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;

}

.footer__right{
    display: flex;
    padding-left: 225px;

}

.footer__img{
    padding-left: 11px;
    margin-top: 8px;
    height: 10px;
}

.currency{
    display: flex;
    width: 135px;
    height: 29px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    margin-left: 11px;

}

.currency_text{
    color: #4c4c4c;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    padding-left: 12px;

}

.currency_img{
    width: 10px;
    height: 4px;
    margin-top: 12px;
    margin-left: 73px;
}
.search{
    width: 184px;
    height: 29px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    margin-left: 13px;
}
.search_text{
    color: #4c4c4c;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 12px;
    margin-top: 5px;
    outline: none;

}
.search_img{
    margin-left: 45px;
    margin-top: 7px;

}




/* ----------------------- */
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}

}
@media (max-width: 767px) {
	.footer__container {
		display: block;
	}

	.footer__right{
		padding-left: 0;
		display: block;
	}
	.wrapper{
		padding: 15px;
	}
	.nav__list{
		display: block;
	}
	.nav__list>li{
		margin: 0px 0px 10px 0px;
	}
	.sub__nav__list{
		position: relative;
		left: 0;
		top: 0;
	}


	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		box-shadow: inset 0 -1px 7px rgba(228, 91, 51, 0.75);
		background-color: #ff5c2d;
		background-image: linear-gradient(to top, #f44620 0%, #fc6236 70%, #fa592b 97%, #fa592b 100%);
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}

	.menu__link {
		font-size: 24px;
	}

	.header__text2{
		color: #ff5c2d;
	}
	.cart{
		box-shadow: 0 2px 3px rgba(223, 81, 40, 0.48), inset 0 1px 0 rgba(251, 96, 51, 0.69);
		border: 1px solid rgba(234, 71, 34, 0.52);
		background-color: #000;
		background-image: none;
	}
	.cart_img{
		margin-top: 9px;
		margin-left: 8px;
	}
}

@media (max-width: 840px) {
	.header__text2{
		color: #ff5c2d;
	}
}
